interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/register?api-version=2018-05-01
  response:
    body:
      string: '{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage",
        "namespace": "Microsoft.Storage", "authorizations": [{"applicationId": "a6aa9161-5291-40bb-8c5c-923b567bee3b",
        "roleDefinitionId": "070ab87f-0efc-4423-b18b-756f3bdb0236"}, {"applicationId":
        "e406a681-f3d4-42a8-90b6-c2b029497af1"}], "resourceTypes": [{"resourceType":
        "storageAccounts", "locations": ["East US", "East US 2", "West US", "West
        Europe", "East Asia", "Southeast Asia", "Japan East", "Japan West", "North
        Central US", "South Central US", "Central US", "North Europe", "Brazil South",
        "Australia East", "Australia Southeast", "South India", "Central India", "West
        India", "Canada East", "Canada Central", "West US 2", "West Central US", "UK
        South", "UK West", "Korea Central", "Korea South", "France Central", "South
        Africa North", "East US 2 EUAP", "Central US EUAP"], "apiVersions": ["2018-11-01",
        "2018-07-01", "2018-03-01-preview", "2018-02-01", "2017-10-01", "2017-06-01",
        "2016-12-01", "2016-05-01", "2016-01-01", "2015-06-15", "2015-05-01-preview"],
        "defaultApiVersion": "2018-07-01", "apiProfiles": [{"profileVersion": "2017-03-09-profile",
        "apiVersion": "2016-01-01"}, {"profileVersion": "2018-03-01-hybrid", "apiVersion":
        "2016-01-01"}, {"profileVersion": "2018-06-01-profile", "apiVersion": "2017-10-01"}],
        "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove,
        SystemAssignedResourceIdentity"}, {"resourceType": "operations", "locations":
        [], "apiVersions": ["2019-04-01", "2018-11-01", "2018-07-01", "2018-03-01-preview",
        "2018-02-01", "2017-10-01", "2017-06-01", "2016-12-01", "2016-05-01", "2016-01-01",
        "2015-06-15", "2015-05-01-preview"], "defaultApiVersion": "2018-07-01", "apiProfiles":
        [{"profileVersion": "2017-03-09-profile", "apiVersion": "2016-[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourcegroups/azure-sample-group?api-version=2018-05-01
  response:
    body:
      string: '{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group",
        "name": "azure-sample-group", "location": "westus", "properties": {"provisioningState":
        "Succeeded"}, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "invalid-or-used-name", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/checkNameAvailability?api-version=2018-07-01
  response:
    body:
      string: '{"nameAvailable": false, "reason": "AccountNameInvalid", "message":
        "invalid-or-used-name is not a valid storage account name. Storage account
        name must be between 3 and 24 characters in length and use numbers and lower-case
        letters only.", "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false, "isHnsEnabled": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample?api-version=2018-07-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/locations/westus/asyncoperations/09afdd5c-c603-4745-af2c-fa189eb55ddc?monitor=true&api-version=2018-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/locations/westus/asyncoperations/09afdd5c-c603-4745-af2c-fa189eb55ddc?monitor=true&api-version=2018-07-01
  response:
    body:
      string: '{"sku": {"name": "Standard_RAGRS", "tier": "Standard"}, "kind": "Storage",
        "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample",
        "name": "storagemgmtexample", "type": "Microsoft.Storage/storageAccounts",
        "location": "westus", "tags": {}, "properties": {"isHnsEnabled": false, "networkAcls":
        {"bypass": "AzureServices", "virtualNetworkRules": [], "ipRules": [], "defaultAction":
        "Allow"}, "supportsHttpsTrafficOnly": false, "encryption": {"services": {"file":
        {"enabled": true, "lastEnabledTime": "2019-04-05T16:03:46.1845200Z"}, "blob":
        {"enabled": true, "lastEnabledTime": "2019-04-05T16:03:46.1845200Z"}}, "keySource":
        "Microsoft.Storage"}, "provisioningState": "Succeeded", "creationTime": "2019-04-05T16:03:45.9345179Z",
        "primaryEndpoints": {"blob": "https://storagemgmtexample.blob.core.windows.net/",
        "queue": "https://storagemgmtexample.queue.core.windows.net/", "table": "https://storagemgmtexample.table.core.windows.net/",
        "file": "https://storagemgmtexample.file.core.windows.net/"}, "primaryLocation":
        "westus", "statusOfPrimary": "available", "secondaryLocation": "eastus", "statusOfSecondary":
        "available", "secondaryEndpoints": {"blob": "https://storagemgmtexample-secondary.blob.core.windows.net/",
        "queue": "https://storagemgmtexample-secondary.queue.core.windows.net/", "table":
        "https://storagemgmtexample-secondary.table.core.windows.net/"}}, "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/storageAccounts?api-version=2018-07-01
  response:
    body: {string: '{"value": [{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample",
        "kind": "Storage", "location": "westus", "name": "storagemgmtexample", "properties":
        {"creationTime": "2017-06-15T18:10:49.1364757Z", "primaryEndpoints": {"blob":
        "https://storagemgmtexample.blob.core.windows.net/", "file": "https://storagemgmtexample.file.core.windows.net/",
        "queue": "https://storagemgmtexample.queue.core.windows.net/", "table": "https://storagemgmtexample.table.core.windows.net/"},
        "primaryLocation": "westus", "provisioningState": "Succeeded", "secondaryEndpoints":
        {"blob": "https://storagemgmtexample-secondary.blob.core.windows.net/", "queue":
        "https://storagemgmtexample-secondary.queue.core.windows.net/", "table": "https://storagemgmtexample-secondary.table.core.windows.net/"},
        "secondaryLocation": "eastus", "statusOfPrimary": "available", "statusOfSecondary":
        "available", "supportsHttpsTrafficOnly": false}, "sku": {"name": "Standard_RAGRS",
        "tier": "Standard"}, "tags": {}, "type": "Microsoft.Storage/storageAccounts"}],
        "access_token": "fake_token"}'}
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - c15b4ed5-242e-4ef8-96de-69a05d32103d
      - 492f178f-b88a-484d-b8b0-f091860ed2b9
      - 4d16c23f-1123-4c25-9b59-b259b755fc28
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts?api-version=2018-07-01
  response:
    body:
      string: '{"value": [{"sku": {"name": "Standard_RAGRS", "tier": "Standard"},
        "kind": "Storage", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/sto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample/listKeys?api-version=2018-07-01
  response:
    body:
      string: '{"keys": [{"keyName": "key1", "value": "o5Dw/n/VzwUyk9GSJ9hyV/kwPMS0/g8firvQLdfPEZ6yUij55CEGJH2wTAduGFgJqXkx3kL6eTZXMSQZilabwA==",
        "permissions": "FULL"}, {"keyName": "key2", "value": "EaRF0V8HsbjZ3WCesXCPOLuunglv8/b/M1EvaKYLKw5m66u22UdCpBHkSp35AsLDVc8WseUu8JLYUF2RE1BigA==",
        "permissions": "FULL"}], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample/regenerateKey?api-version=2018-07-01
  response:
    body:
      string: '{"keys": [{"keyName": "key1", "value": "45yXAcyYFnl0E2WKK9pmZLFfklxlOfpVTNAtLScxsO+g0Xn0EZi7nW6vCuM94n48pxspwTttyAScvVshUw9W+g==",
        "permissions": "FULL"}, {"keyName": "key2", "value": "EaRF0V8HsbjZ3WCesXCPOLuunglv8/b/M1EvaKYLKw5m66u22UdCpBHkSp35AsLDVc8WseUu8JLYUF2RE1BigA==",
        "permissions": "FULL"}], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlVSRToyRFNBTVBMRToyREdST1VQLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlVSRToyRFNBTVBMRToyREdST1VQLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/locations/westus/usages?api-version=2018-07-01
  response:
    body:
      string: '{"value": [{"unit": "Count", "currentValue": 41, "limit": 250, "name":
        {"value": "StorageAccounts", "localizedValue": "Storage Accounts"}}], "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
