interactions:
- request:
    body: b"b'grant_type=client_credentials&client_id=11111111-1111-1111-1111-111111111111&resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_secret=00000000000000000000000000000000000000000000&response_type=client_credentials'"
    headers:
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://login.microsoftonline.com/11111111-1111-1111-1111-111111111111/oauth2/token
  response:
    body: {string: '{"token_type": "Bearer", "expires_in": "3600", "ext_expires_in":
        "0", "expires_on": "1497553846", "not_before": "1497549946", "resource": "https://management.core.windows.net/",
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/register?api-version=2017-05-10
  response:
    body: {string: '{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage",
        "namespace": "Microsoft.Storage", "authorization": {"applicationId": "a6aa9161-5291-40bb-8c5c-923b567bee3b",
        "roleDefinitionId": "070ab87f-0efc-4423-b18b-756f3bdb0236"}, "resourceTypes":
        [{"resourceType": "storageAccounts", "locations": ["East US", "East US 2",
        "East US 2 (Stage)", "West US", "West Europe", "East Asia", "Southeast Asia",
        "Japan East", "Japan West", "North Central US", "South Central US", "Central
        US", "North Europe", "Brazil South", "Australia East", "Australia Southeast",
        "South India", "Central India", "West India", "Canada East", "Canada Central",
        "West US 2", "West Central US", "UK South", "UK West", "Korea Central", "Korea
        South"], "apiVersions": ["2017-06-01", "2016-12-01", "2016-05-01", "2016-01-01",
        "2015-06-15", "2015-05-01-preview"], "apiProfiles": [{"profileVersion": "2017-03-09-profile",
        "apiVersion": "2016-01-01"}], "capabilities": "CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity"}, {"resourceType":
        "operations", "locations": [], "apiVersions": ["2017-06-01", "2016-12-01",
        "2016-05-01", "2016-01-01", "2015-06-15", "2015-05-01-preview"], "apiProfiles":
        [{"profileVersion": "2017-03-09-profile", "apiVersion": "2016-01-01"}]}, {"resourceType":
        "storageAccounts/listAccountSas", "locations": [], "apiVersions": ["2017-06-01",
        "2016-12-0[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourcegroups/azure-sample-group?api-version=2017-05-10
  response:
    body: {string: '{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group",
        "name": "azure-sample-group", "location": "westus", "properties": {"provisioningState":
        "Succeeded"}, "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "invalid-or-used-name", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/checkNameAvailability?api-version=2016-12-01
  response:
    body: {string: '{"nameAvailable": false, "reason": "AccountNameInvalid", "message":
        "invalid-or-used-name is not a valid storage account name. Storage account
        name must be between 3 and 24 characters in length and use numbers and lower-case
        letters only.", "access_token": "fake_token"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/operations/e193f812-f8e1-4ddf-a090-8405ec30d581?monitor=true&api-version=2016-12-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/operations/e193f812-f8e1-4ddf-a090-8405ec30d581?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample",
        "kind": "Storage", "location": "westus", "name": "storagemgmtexample", "properties":
        {"creationTime": "2017-06-15T18:10:49.1364757Z", "primaryEndpoints": {"blob":
        "https://storagemgmtexample.blob.core.windows.net/", "file": "https://storagemgmtexample.file.core.windows.net/",
        "queue": "https://storagemgmtexample.queue.core.windows.net/", "table": "https://storagemgmtexample.table.core.windows.net/"},
        "primaryLocation": "westus", "provisioningState": "Succeeded", "secondaryEndpoints":
        {"blob": "https://storagemgmtexample-secondary.blob.core.windows.net/", "queue":
        "https://storagemgmtexample-secondary.queue.core.windows.net/", "table": "https://storagemgmtexample-secondary.table.core.windows.net/"},
        "secondaryLocation": "eastus", "statusOfPrimary": "available", "statusOfSecondary":
        "available", "supportsHttpsTrafficOnly": false}, "sku": {"name": "Standard_RAGRS",
        "tier": "Standard"}, "tags": {}, "type": "Microsoft.Storage/storageAccounts",
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: '{"value": [{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample",
        "kind": "Storage", "location": "westus", "name": "storagemgmtexample", "properties":
        {"creationTime": "2017-06-15T18:10:49.1364757Z", "primaryEndpoints": {"blob":
        "https://storagemgmtexample.blob.core.windows.net/", "file": "https://storagemgmtexample.file.core.windows.net/",
        "queue": "https://storagemgmtexample.queue.core.windows.net/", "table": "https://storagemgmtexample.table.core.windows.net/"},
        "primaryLocation": "westus", "provisioningState": "Succeeded", "secondaryEndpoints":
        {"blob": "https://storagemgmtexample-secondary.blob.core.windows.net/", "queue":
        "https://storagemgmtexample-secondary.queue.core.windows.net/", "table": "https://storagemgmtexample-secondary.table.core.windows.net/"},
        "secondaryLocation": "eastus", "statusOfPrimary": "available", "statusOfSecondary":
        "available", "supportsHttpsTrafficOnly": false}, "sku": {"name": "Standard_RAGRS",
        "tier": "Standard"}, "tags": {}, "type": "Microsoft.Storage/storageAccounts"}],
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: '{"value": [{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample",[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys": [{"keyName": "key1", "permissions": "Full", "value":
        "23KaJ2JUnQWNH+36ROk+s5QwX7o3mU6RO7CHe1Vs0tme/eyhIwAzzSmkythI4kM/ohv/JinNKNOb2j6Gyl82mA=="},
        {"keyName": "key2", "permissions": "Full", "value": "qE84ixeHkEf9lxVqKwoG56fKJKo8i7t40ZkPdypFxRJtXuHfEoQt1ULQqTjTd8PVWG340Wab88KeKO8VTwd8Lw=="}],
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group/providers/Microsoft.Storage/storageAccounts/storagemgmtexample/regenerateKey?api-version=2016-12-01
  response:
    body: {string: '{"keys": [{"keyName": "key1", "permissions": "Full", "value":
        "AartuH2OnD4gRWynG8IQ4BMlEZ8d8N/RS7EcNj7U59Ezj5bNbsmGG2EhizoRXqTmEwk322W/MudvRTFwkaRSWA=="},
        {"keyName": "key2", "permissions": "Full", "value": "qE84ixeHkEf9lxVqKwoG56fKJKo8i7t40ZkPdypFxRJtXuHfEoQt1ULQqTjTd8PVWG340Wab88KeKO8VTwd8Lw=="}],
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlVSRToyRFNBTVBMRToyREdST1VQLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlVSRToyRFNBTVBMRToyREdST1VQLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Storage/usages?api-version=2016-12-01
  response:
    body: {string: '{"value": [{"unit": "Count", "currentValue": 0, "limit": 200,
        "name": {"value": "StorageAccounts", "localizedValue": "Storage Accounts"}}],
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
